<div class="col-xs-2"> 
	<ul class="nav nav-pills nav-stacked"> 
		<li role="presentation" ><a href="/recommendList">推荐位上传</a></li> 
		<li role="presentation" ><a href="/classification">分类筛选编辑</a></li>
		<li role="presentation"  ><a href="/authenticationList">认证列表</a></li> 
		<li role="presentation" ><a href="/authenticationProject/1">项目审核</a></li>
		<li role="presentation"  ><a href="/adminUserList/1">用户管理</a></li>
		<li role="presentation" ><a href="/userTagsList/1">标签管理</a></li>
		<li role="presentation" ><a href="/messagesManager">标签管理</a></li>
	</ul> 
</div>